.container {
  display: grid;
  grid-template-columns: 16px auto;
  grid-column-gap: 10px;
  margin: 0 auto;

  &:hover {
    & > :first-child,
    & > :last-child{
      fill: #7a8fa4;
      color: #7a8fa4;
      cursor: pointer;
    }
  }

  & > :first-child {
    transition: fill .3s;
    width: 16px;
    height: 16px;
    fill: #86898e;
  }

  & > :last-child {
    transition: color .3s;
    font-size: 14px;
    font-weight: 500;
    color: #86898e;
  }
}

