.input {
  background-color: #1e1f23;
  border: none;
  width: 100%;
  padding: 7px 7px;
  border-radius: 7px;
  box-sizing: border-box;
  color: #86898e;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #86898e78;
  }
}