.container{
  position: sticky;
  bottom: 0;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 1fr auto;
  transition: all .3s;
}

.content{
  padding: 25px 15px;
  grid-row: 2/3;
  background-color: #1e1f23;
  display: grid;
  grid-row-gap: 15px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  box-shadow: 0 0 14px #3e4050;
  & > :first-child{
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  & input{
    border-radius: 0;
    border-bottom: 1px solid #86898e;
  }
}

.buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  margin-top: 25px;
}

.button{
  border: none;
  border-radius: 7px;
  padding: 7px 0;
  color: #3e4050;
  font-weight: 600;
  transition: background-color .3s;
  &:hover{
    cursor: pointer;
  }

  &--save{
    background-color: #7a8fa4;
    &:hover{
      background-color: #728598;
    }
  }

  &--close{
    background-color: #86898e;
    &:hover{
      background-color: #75777b;
    }
  }

}