.alert{
  top: 15px;
  border-radius: 7px;
  padding: 15px;
  background-color: #1e1f23;
  color: #86898e;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 0 14px #3e4050;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}