@mixin style($w: null, $h: null, $br: null){
  width: $w;
  height: $h;
  border-radius: $br;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app{
  @include style($w: 370px, $h: 700px, $br: 45px);
  box-shadow: 0 0 14px #000000;
  background-color: black;
}

.screen{
  @include style($w: 340px, $h: 670px, $br: 35px);
  background-color: #2b2e38;
  box-sizing: border-box;
  overflow: hidden;
}