.contact {
  display: grid;
  grid-template-columns: 37px 1fr auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  padding: 10px 15px;
  margin: 0 -15px;
  box-shadow: inset 0 -1px 0 0 #1e1f23;
  transition: background-color .3s;

  &-avatar {
    grid-row: 1/3;
  }

  &-name {
    grid-row: 1/1;
    grid-column: 2/2;
    font-size: 14px;
    font-weight: 500;
    color: #a7aaaf;
  }

  &-phone {
    grid-row: 2/2;
    grid-column: 2/2;
    font-size: 12px;
    color: #86898e;
    padding-top: 5px;
  }

  &-delete,
  &-edit {
    grid-row: 1/3;
    align-self: center;

    svg {
      width: 16px;
      height: 16px;
      fill: #86898e;
      transition: fill .3s;
      &:hover {
        fill: #7a8fa4;
        cursor: pointer;
      }
    }
  }

  //&:hover {
  //  cursor: pointer;
  //  background-color: #323641;
  //}
}