@mixin content {
  height: 630px;
  display: grid;
  grid-template-columns: 1fr 0.01px;
  overflow-y: scroll;
  padding: 0 15px;

  &::-webkit-scrollbar-thumb {
    background: #86898e;
    border-radius: 4px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  & > :first-child {
    grid-column: 1/1;

  }
}

@mixin empty{
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .7px;
  color: #86898e;
  & > :first-child{
    width: 50px;
    height: 50px;
    fill: #86898e;
    margin-bottom: 10px;
  }
}