.avatar {
  width: 37px;
  height: 37px;
  border-radius: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  font-weight: 600;

  &--light {
    color: #ffffffe0;
  }

  &--dark {
    color: #000000d1;
  }
}