.holder {
  width: 100%;
  text-align: center;
}

.item{
  display: inline-block;
  padding-bottom: 10px;
  color: #86898e;
  font-weight: 600;
  text-decoration: none;
  transition: color .3s;

  &:hover{
    color: #7a8fa4;
  }

  &--active{
    color: #7a8fa4;
  }
}