@import "src/components/mixins.module";

.content{
  @include content;
  grid-template-rows: auto auto 1fr;
  grid-row-gap: 10px;
  & > :nth-child(1),
  & > :nth-child(2),
  & > :nth-child(3) {
    grid-column: 1/1;
  }
}

.empty{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .7px;
  color: #86898e;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}